.boardCell{
    height: 80px;
    width: 80px;
    padding: 10px;
    border: 2px solid black;
}

.board{
    height: 644px;
    width: 644px;
    border: 2px solid rgb(255, 0, 0);
    display: flex;
}


.boardRow:nth-child(2n) .boardCell:nth-child(2n+1){
background-color: #b32121;
}

.boardRow:nth-child(2n) .boardCell:nth-child(2n){
background-color: #d7b68b;
}

.boardRow:nth-child(2n+1) .boardCell:nth-child(2n+1){
background-color: #d7b68b;
}

.boardRow:nth-child(2n+1) .boardCell:nth-child(2n){
background-color: #b32121;
}
