*{
    margin: 0;
    padding: 0;
}

.board{
    height: 644px;
    width: 644px;
    border: 2px solid rgb(255, 0, 0);
}

/* .boardRow{
    margin: 0%;
} */

.boardCell{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    display: inline-block;
    float: right ;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boardCell.active {
    border: 3px solid rgb(251, 255, 0);
}


.boardRow:nth-child(2n) .boardCell:nth-child(2n+1){
background-color: #b32121;
}

.boardRow:nth-child(2n) .boardCell:nth-child(2n){
background-color: #d7b68b;
}

.boardRow:nth-child(2n+1) .boardCell:nth-child(2n+1){
background-color: #d7b68b;
}

.boardRow:nth-child(2n+1) .boardCell:nth-child(2n){
background-color: #b32121;
}

.checker{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1 px solid black;
}

.checkerDepth{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    box-shadow: 2px 4px 5px rgba(233, 185, 53, 0.5),
                10px 10px 15px rgba(170, 158, 2, 0.322),
                -1px -1px 30px rgba(123, 116, 164, 0.2);
}

.checker.black{
    background-color: rgb(0, 0, 0);
}
.checker.white{
    background-color: rgb(255, 255, 255);

}

.checker.active {
    border: 4px solid rgb(18, 209, 8);
}
